<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        var database0 = '<%=datab%>'
        console.log(database0)
    </script>
</head>
<body>
    <div id="main_div">
        <div id = "buttons">
        <button> wrong answer </button>
        <!-- <h1> Quiz </h1> -->
        <button>mark as duplicate</button>
        </div>
        <div id="questions"> <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda quae dolor, laboriosam neque laudantium aliquam sint exercitationem, quibusdam ducimus architecto est expedita distinctio molestiae consectetur perferendis at consequuntur sapiente dolore.</p></div>
        <div id="answer"> 
            <div onclick="click(0)" class="option"></div>
            <div onclick="click(1)" class="option"></div>
            <div onclick="click(2)" class="option"></div>
            <div onclick="click(3)" class="option"></div>
        </div>
    </div>
</body>
<script src="qb.js"></script>
</html>