<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="main_div"> 
        <form action="/newq" method="POST">
            <label for="submittedBy">Your Name</label>
            <input type="text" name="submittedBy">
            <h1>Enter your question</h1>
            <div id="questions">
                <input type="text" name="ques">
            </div>
            <h1>Enter you Answers with options</h1>
            <div id="answer">
                <label for="op1">option 1</label>
                <input type="text" name="op1">
                <label for="op2">option 2</label>
                <input type="text" name="op2">
                <label for="op3">option 3</label>
                <input type="text" name="op3">
                <label for="op4">option 4</label>
                <input type="text" name="op4">
                <label for="correct">Correct option</label>
                <input type="number" name="correct" max="4" min="1">
                
            </div>
            <input type="submit">
        </form>
    </div>
    
</body>
</html>